$red: rgb(156, 0, 60);
$reddark: rgb(126, 0, 48);
$dark: rgb(33, 33, 33);
$lightdark: rgba(33, 33, 33, 0.711);
$pink: rgb(255, 239, 239);

$text: #333333;
$maindark: #e67e22;
$mainhover: #cf711f;
$background: #fdf2e9;
$dulltext: #dddddd;
