@import "colors";

.home {
  height: 100vh;
  overflow-x: hidden;

  div {
    padding-left: 8rem;
    padding-top: 15rem;
    > h1 {
      font-size: 4rem;
      text-transform: uppercase;
    }

    > p {
      font-size: 1.2rem;
    }
  }

  > a {
    display: block;
    margin: 2rem 8rem;
    width: 10rem;
    background-color: $red;
    color: white;
    text-align: center;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    &:hover {
      background-color: $reddark;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../assets/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0%;
    z-index: -1;
  }
}

@media screen and (max-width: 600px) {
  .home {
    > div {
      text-align: center;
      padding-top: 10rem;
      padding-left: 0rem;
    }

    > a {
      margin: 2rem auto;
    }
  }
}

section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
