@import "colors";

.login__page {
  background: #cf7120;
  background: radial-gradient(at left top, #cf7120, #fdf2e9);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  // max-width: 60rem;
}
.login__img {
  max-width: 20rem;
}
.login {
  max-width: 30rem;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2rem;
  > button {
    background-color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 60%;
    padding: 0.8rem 0.6rem;
    border-radius: 10px;
    cursor: pointer;
  }
}
.login__para {
  font-size: 1.4rem;
  text-align: center;
  color: $text;
  letter-spacing: 1px;
}

@media (max-width: 480px) {
  .login__page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
