@import "colors";

.user__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background: #cf7120;
  // background: radial-gradient(at left top, #cf7120, #fdf2e9);
}

.profile {
  background-color: $background;
  width: 100%;
  height: 100vh;

  > main {
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;

    > img {
      height: 10rem;
      width: 10rem;
      border-radius: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.146);
      margin: 4rem;
    }

    > h5 {
      font-size: 2.4rem;
      color: $text;
      text-align: center;
    }
    > div {
      margin: 2rem;
      > a {
        background-color: $maindark;
        color: white;
        padding: 0.7rem 1.5rem;
        font-size: 1rem;
        border-radius: 5px;
        padding: 0.8rem 2rem;
        display: flex;
        font-size: 1.8rem;
        align-items: center;
        svg {
          margin-right: 0.5rem;
        }
        &:hover {
          background-color: $mainhover;
        }
      }
    }

    > button {
      border: none;
      outline: none;
      padding: 0.8rem 1.8rem;
      border-radius: 5px;
      cursor: pointer;
      color: #ffffff;
      font-weight: 500;
      background-color: $text;
      font-size: 1rem;
      &:hover {
        background-color: $text;
        color: #ffffff;
      }
    }
  }
}
